.container-posts {
  margin: auto;
}

.posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.post {
  width: 15rem;
  border: black 1px solid;
  margin: 1rem;
}
